.TITULO-PAG{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.ordenar-header{
    display: flex;
    gap: 495px;
    width: 1068px;
    height: 40px;
    margin: 45px 133px 0px;
    
}

.boton-hamburguesa{
    display: none;
}

input{
    display: none;
}

.barra-de-navegacion{
    display: flex;
    font-weight: 300;
    color: white;
    gap: 47px;
    padding: 0;
}



.barra-de-navegacion a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
.Hero-Seccion{
    display: grid;
    width: 1060px;
    height: 450px;
    box-sizing: border-box;
    margin: 80px 130px 0px;
    grid-template-columns: 2fr;
    grid-template-rows:192px 56px 48px;
    gap: 60px 40px; 
}
.titulo-1{
    text-shadow: 
    -1px -1px 0px black,
    1px 1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black,
    1px 4px 6px rgba(0, 0, 0, 0.4);
    font-size: 32px;
    text-align: left;
    margin-top: 50px;
    height: 192px;
    width: 560px;
    letter-spacing: 1.2px;
    
}
.titulo-1 h1{
    line-height: 64px;
    margin: 0;
    font-weight: 700;  
    font-family: 'Inter';
    }
    
.descripcion-1 p{
    margin-bottom: 52px;
    font-size: 17.8px;
    width: 520px;
    font-weight: 285;
    line-height:28px;
    width: 485px;
    letter-spacing: 0.3px;

}

.descripcion-1 a{
    text-decoration: none;
    font-size: 16px;
    background: #3F3434;
    padding: 13px 32px;
    font-weight: 500;
    border-radius: 8px;
    top: 524px;
    text-align:  center;
    color: white;
    box-sizing: border-box;
}


.imagen-1{
    grid-column: 2;
    grid-row:1 / span 3 ;
    width: 450px;
    height: 450px;
}
.imagen-1 img{
    width: 450px;
    height: 450px;

}

.Companies-Seccion{
    display: flex;
    flex-direction: column;
    margin: 120px auto 0px;
    width:915px;
    height: 150px;
}

.info{
    text-align: center;
    color:#667085;
    font-size: 17px;
}

.Companies{
    display: flex;
    background: #857978;
    gap: 107px;
    border-radius: 8px;
    height: 86px;
    padding: 20px 40px;
    box-sizing: border-box;
    
}
.Spotify{
    width: 170px;
    height: 45px;
   
}
.slack{
    width: 120px;
    height: 48px;
   
}
.Dropbox{
    width: 170px;
    height: 48px;
   
}
.zoom{
    width: 97.9px;
    height: 48px;
   
}

.Branding-Section{
    display: grid;
    width:1065px;
    height: 450px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 150px 130px 50px;
    gap: 0px 80px;
}

.imagen-2{
    grid-row: 1 / span 2;
}

.imagen-2 img{
    width: 450px;
    height: 450px;
}

.titulo-2{
    grid-column: 2;
    font-size: 32px;
    height: 150px;
    margin: auto;
    letter-spacing: 0.8px;
}

.titulo-2 h2{
    width: 435.69px;
    height: 102.35px;
    line-height: 48px ;
    margin-top: 60px;
    padding-left: 50px;
    font-weight: 650;


}

.descripcion-2{
    grid-column: 2;
    font-size: 16px;
    padding: 0;
}

.descripcion-2 p{
    width: 370px;
    height: 83.16px;
    margin: 0;
    padding-left: 50px;
    padding-right: 0;
    line-height: 28px;
    font-weight: 250;
}

.descripcion-2-repetido{
    display: none;
}

.Custom-section{
    display: grid;
    width: 1052px;
    height: 427px;
    margin: 50px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
    gap: 0 50px;
    
}

.Titulo-Custom-section{
    text-align: center;
    padding-bottom: 145px;
    grid-column: 1 / span 3; 
    grid-row: 1;   
    font-size: 24px;
    letter-spacing: 1.7px;
}

.Primera-Tarjeta{
    width: 308px;
    height: 191.1px;
    border: 1px solid white;
    grid-row: 2;
    grid-column: 1;
    border: 1px solid white;
    background: #FFFFFF;
    color: black;
    border-radius: 10px;
    padding: 16.5px 0 0 17px;
    box-sizing: border-box;
}

.Primera-Tarjeta img{
    padding: 8.5px 11px;
    border-radius: 10px;
    background: #FFDED4;
    margin-bottom: 9.5px ;
}

.titulo-tarjeta-1{
    font-family:'Hind Vadodara' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14.5px;
    color: #331B3B;
    font-weight: 870;
    line-height: 21.97px;
    letter-spacing: 0.8px;
    margin-bottom: 6px;
}

.descripcion-tarjeta-1{
    font-family:'Hind Vadodara' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 350;
    color: #331B3BA8;
    font-size: 14px;
    width: 250px;
    line-height: 21.6px;
}

.Segunda-Targeta{
    width: 308px;
    height: 191.1px;
    border: 1px solid white;
    grid-row: 2;
    grid-column: 2;
    background: #FFFFFF;
    color: black;
    border-radius: 10px;
    padding: 16.5px 0 0 17px;
    box-sizing: border-box;

}

.Segunda-Targeta img{
    border-radius: 10px;
    background: #FFDED4;
    margin-bottom: 9.5px ;
}

.titulo-tarjeta-2{
    font-family:'Hind Vadodara' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14.5px;
    color: #331B3B;
    font-weight: 870;
    line-height: 21.97px;
    letter-spacing: 0.8px;
    margin-bottom: 6px;

}

.descripcion-tarjeta-2{
    font-family:'Hind Vadodara' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 350;
    color: #331B3BA8;
    font-size: 14px;
    width: 250px;
    line-height: 21.6px;
}

.Tercera-Tarjeta{
    width: 308px;
    height: 191.1px;
    border: 1px solid white;
    grid-row: 2;
    grid-column: 3;
    background: #FFFFFF;
    color: black;
    border-radius: 10px;
    padding: 16.5px 0 0 17px;
    box-sizing: border-box;

}

.Tercera-Tarjeta img{
    background-color: #D4F0FF;
    border-radius: 10px;
    margin-bottom: 9.5px ;
    padding: 5.3px 6.5px 0 9px;
}
.titulo-tarjeta-3{
    font-family:'Hind Vadodara' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14.5px;
    color: #331B3B;
    font-weight: 870;
    line-height: 21.97px;
    letter-spacing: 0.8px;
    margin-bottom: 6px;

}

.descripcion-tarjeta-3{
    font-family:'Hind Vadodara' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 350;
    color: #331B3BA8;
    font-size: 14px;
    width: 250px;
    line-height: 21.6px;

}
.Contact-section{
    display: flex;
    width: 1052px;
    height: 450.43px;
    margin: 78px auto 25px;
    border-radius: 20px;
    background: #ADA7A7;
    gap: 0 90px;
 

}
.ordernar-contenido{
    display: flex;
    flex-direction: column;
}

.Contact-section img{
    margin-left: 67px;
}

.Titulo-Contact-section{
    
    height: 102.1px;
    width: 400px;
    margin: 50px auto 60px;
    font-size: 32px;
    line-height: 48px;
    padding-top: 8px;
    letter-spacing: 1px;

}

.descripcion-contact-section{
    height: 50px;
    width: 360px;
    margin-bottom: 15px;
    line-height: 25px;
    padding-bottom: 80px;
    font-weight: 220;
    box-sizing: border-box;

}

.boton-contact-section a{
    
    text-decoration: none;
    font-size: 16px;
    background: #A31717;
    padding: 14px 32px;
    font-weight: 500;
    border-radius: 8px;
    top: 524px;
    text-align:  center;
    color: white;
    box-sizing: border-box;
}

.Footer{
    display: grid;
    width: 100%   ;
    height: 443px;
    background: #857978;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    padding: 75px 150px;
    box-sizing: border-box;
    gap: 155px;

}

.Primera-columna{
    grid-column: 1;
    grid-row: 1;
    width: 189.29px;
    padding: 10px; 
    
    
}
.Primera-columna h4{
    font-size: 18px;
    font-weight:635;
    margin-bottom: 42px;
    letter-spacing: 0.2px;
}

.Primera-columna p{
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.Segunda-columna{
    grid-column: 2;
    grid-row: 1;
    width: 141px;
    padding: 10px; 
}

.Segunda-columna h4 {
    font-size: 17.5px;
    font-weight:640;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
}

.Segunda-columna p {
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.Tercera-columna{
    grid-column: 3;
    grid-row: 1;
    width: 85.23px;
    padding: 10px; 
}

.Tercera-columna h4{
    font-size: 17.5px;
    font-weight:640;
    margin-bottom: 30px;
    letter-spacing: 0.4px;
}

.Tercera-columna p {
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.Cuarta-columna{
    grid-column: 4;
    grid-row: 1;
    width: 123.19px;
    padding: 10px; 
}

.Cuarta-columna h4 {
    font-size: 17px;
    font-weight:640;
    margin-bottom: 30px;
    letter-spacing: 0.4px;

}

.Cuarta-columna p {
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.3px;
}

html{
    background-color: #A31717;
    color: white;
    font-family:'Inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}




/* media quierie Para dispositivos moviles */


@media (width <= 480px){

    .TITULO-PAG {
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 0.3px;
        font-weight: 650;
    }

    .barra-de-navegacion{
        display: none;
        flex-direction: column;
    }

    .boton-hamburguesa{
        display: flex;
        flex-direction: column;
        position: absolute;
        left:420px;
        font-size: 25px;
        width: 27px;
        height: 26px;
        background-color: black;
        padding: 4px 2px;
        box-sizing: border-box;
        gap: 6.5px;
        top: 50px;


    }

    .linea-boton-hamburguesa{
        width: 22px;
        height: 1.3px;
        background-color: white;
        box-sizing: border-box;
    }


    .ordenar-header{
        flex-direction: column;
        margin-left: 30px ;
        margin-top: 55px;
        width: 300px;

    }

    .Hero-Seccion{
        margin: 30px 0 0px 0px;
        box-sizing: border-box;
        width: 450px;
        height: 665px;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 56px 15px 358px;
    
    }

    .titulo-1{
        width: 450px;
        
    }

    .titulo-1 h1 {
        text-align: center;
        box-sizing: border-box;
        width: 465px;
        line-height: 44px;  
        height: 120px;
        font-size: 42px;
        text-shadow: none;
        grid-column: 1;
        grid-row: 1;
        height: 200px;
        padding-top: 30px;
        padding-left: 10px;
    }

    .descripcion-1 p{
        grid-column: 1;
        grid-row: 2;
        width: 380px;
        height: 56px;
        margin-top: 55px;
        text-align: center;
        line-height: 25px;
        margin-bottom: 38px;
        margin-left: 48px;
        font-size: 15.5px;
        font-weight: 300;
    }


    .descripcion-1 a {
        background-color: black;
        font-weight: 420;
        margin-left: 170px;
        padding: 9px 25px;
        font-size: 14px;
    }

    .imagen-1{
        width: 420px;
        height: 420px;
        grid-column: 1;
        grid-row: 4;
        margin-top: 30px;
        margin-left: 29px;
    }

    .imagen-1 img {
        width: 420px;
        height: 420px;
    }

    .Companies-Seccion{
        height: 150px;
        width: 445px;
        margin: 300px 15px ;
        margin-bottom: 100px;
        box-sizing: content-box;
    }

    .info{
        font-size: 16px;
        

    }


    .Companies{
        background: #331B3B;
        gap: 40px;
        height: 150px;
        box-sizing: content-box;
        padding: 20px 5px ;
    }
        
    
    .Spotify{
        width: 75px;
        height: 27px;
        margin: auto;
        
       
    }
    .slack{
        width: 75px;
        height: 27px;
        margin: auto;
       
    }
    .Dropbox{
        width: 90px;
        height: 27px;
        margin: auto;
       
    }

    .zoom{
        width: 70px;
        height: 27px;
        margin: auto;
    } 

    .Branding-Section{
        grid-template-columns: 380px;
        grid-template-rows: repeat(3,1fr);
        margin: 0 50px;
        width: 380px;
        
    }

   .titulo-2{
    grid-column: 1;
    grid-row: 1;
    width: 380px;
    font-size: 25px;
    text-align: center;


   }

   .titulo-2 h2{
    line-height: 38px;
    margin: 0;
    padding: 0;
    width: 380px;
   }

   .descripcion-2{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    width: 380px;
    margin: 0;

   }

   .descripcion-2 p{
    padding: 0;
    margin-top: 0;
    font-size: 14px ;
    
    
   }

    .imagen-2{
        grid-column: 1;
        grid-row: 3;
        
    }

    .imagen-2 img{
        width: 375px;
        height: 384px;
        margin-top: 50px;
    }
    .Custom-section{
        grid-template-columns: 380px;
        grid-template-rows: repeat(4,1fr);
        width: 380px;
        margin-top: 350px;
    }

    .Titulo-Custom-section{
        grid-column: 1;
        grid-row: 1;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 35px;
        height: 10px;
    }

    .descripcion-2-repetido{
        display: flex;
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
    .Primera-Tarjeta{
        grid-column: 1;
        grid-row: 3;
        margin-left: 35px;
        margin-bottom: 15px;
    }

    .Segunda-Targeta{
        grid-column: 1;
        grid-row: 4;
        margin-left: 35px;

    }
    .Tercera-Tarjeta{
        display: none;
    }

    .Contact-section{
        flex-direction: column ;
        width: 379px;
        height: 350px;
        grid-template-columns:379px;
        grid-template-rows:repeat(3,1fr);
        margin-top: 230px;
        background: #331B3B;
    }

    .Contact-section img{
        display: none;
    }

    .Titulo-Contact-section{
        margin: 0px 65px;
        width:250px;
        font-size: 21px;
        letter-spacing: 1.5px;
        text-align: center;
        line-height: 30px;
        font-weight: 150;
    }

    .descripcion-contact-section{
        text-align: center;
        margin: 35px 15px;
    }

    .boton-contact-section a{
        margin: 35px 100px;
        background-color: black
    }

    .Footer{
        grid-template-columns: 1;
        grid-template-rows:repeat(4,1fr);
        background: #331B3B;
        width: 500px;
        height: 100% ;
        text-align: center;


    }
    .Primera-columna{
        grid-column: 1;
        grid-row: 1;
        padding: 0 8px;
        

    }
    .Segunda-columna{
        grid-column: 1;
        grid-row: 2;
        padding: 0 30px;
    }

    .Tercera-columna{
        grid-column: 1;
        grid-row: 3;
        padding: 0 70px;

    }
    .Cuarta-columna{
        grid-column: 1;
        grid-row: 4;
        padding: 0 50px;

    }
  
    body{
        margin: 0;
        padding: 0;
    }
}
